server:
  port: 8082

spring:
  application:
    name: msvc-administration

  datasource:
    url: jdbc:mysql://localhost/administration?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrival=true
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true